project/db.sqlite3
propositions


.trunk
project/db.sqlite3
propositions/



db.sqlite3


# Ignore SQLite database
db.sqlite3

# Ignore migrations
*/migrations/

# Ignore compiled files
*.pyc
__pycache__/

