<p>{{demande.id}}</p>

  {% if demande.statut == "en_attente" %}
    <div class="card shadow-sm p-3">

      <form method="post" action="{% url 'traiter_demande' demande.id %}">
        {% csrf_token %}

        <button type="submit" name="action" value="valider" class="btn btn-success">✔ Valider</button>

        <textarea name="raison_refus" class="form-control mt-3" placeholder="Raison du refus"></textarea>

        <button type="submit" name="action" value="refuser" class="btn btn-danger mt-3">✖ Refuser</button>

      </form>
      

    </div>
{% endif %}

<a href="{% url 'related_items' demande.id %}">see related items</a>
<a href="{% url 'assign_transporteur_demande' demande.id %}">assign transporteur</a>